/*
=============== 
Hero
===============
*/

.hero {
    height: 40vh;
    position: relative;
    margin-bottom: 2rem;
    background: url('../../../assets/main/main.jpeg') center/cover no-repeat;
    border-radius: var(--borderRadius);
}

.hero-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: var(--borderRadius);
}

.hero-text {
    color: var(--white);
    text-align: center;
}



/*
=============== 
Recipes 
===============
*/

.recipes-container {
    display: grid;
    gap: 2rem 1rem;
  }
  
  .recipes-list {
    display: grid;
    gap: 2rem 1rem;
    padding-bottom: 3rem;
  }
  .tags-container {
    order: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    /* background: blue; */
  }
  .tags-container h4 {
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  .tags-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .tags-list a {
    text-transform: capitalize;
    display: block;
    color: #64748b;
    transition: var(--transition);
  }
  .tags-list a:hover {
    color: var(--primary-500);
  }
  .recipe {
    display: block;
  }
  .recipe-img {
    height: 15rem;
    border-radius: var(--borderRadius);
    margin-bottom: 1rem;
    width: 100% !important;
    object-fit: cover;
  }
  .recipe h5 {
    margin-bottom: 0;
    margin-top: 0.25rem;
    line-height: 1;
  }
  .recipe p {
    margin-bottom: 0;
    line-height: 1;
    margin-top: 0.5rem;
    letter-spacing: 1px;
    display: flex;

  }
  @media screen and (min-width: 576px) {
    .recipes-list {
      grid-template-columns: 1fr 1fr;
    }
    .recipe-img {
      height: 10rem;
      width: 100% !important;
      object-fit: cover;
    }
  }
  
  @media screen and (min-width: 992px) {
    .recipes-container {
      grid-template-columns: 200px 1fr;
      gap: 1rem;
    }
    .recipes-list {
      grid-template-columns: 1fr 1fr;
    }
  
    .recipe p {
      font-size: 0.85rem;
    }
    .tags-container {
      order: 0;
      /* background: blue; */
    }
    .tags-list {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .recipe h5 {
      font-size: 1.15rem;
    }
    .recipes-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  /*
=============== 
Recipe Template
===============
*/

.recipe-hero {
    display: grid;
    gap: 3rem;
  }
  
  .recipe-hero-img {
    height: 300px;
    border-radius: var(--borderRadius);
  }
  .recipe-info p {
    color: var(--grey-600);
  }
  .recipe-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2rem 0;
    text-align: center;
  }
  .recipe-icons i {
    font-size: 1.5rem;
    color: var(--primary-500);
  }
  .recipe-icons h5,
  .recipe-icons p {
    margin-bottom: 0;
    font-size: 0.85em;
  }
  
  .recipe-icons p {
    color: var(--grey-600);
  }
  .recipe-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.7em;
    font-weight: 600;
  }
  .recipe-tags a {
    background: var(--primary-500);
    border-radius: var(--borderRadius);
    color: var(--white);
    padding: 0.05rem 0.5rem;
    margin: 0 0.25rem;
    text-transform: capitalize;
  }
  @media screen and (min-width: 992px) {
    .recipe-hero {
      grid-template-columns: 4fr 5fr;
      align-items: center;
    }
  }
  .recipe-content {
    padding: 3rem 0;
    display: grid;
    gap: 2rem 5rem;
  }
  @media screen and (min-width: 992px) {
    .recipe-content {
      grid-template-columns: 2fr 1fr;
    }
  }
  .single-instruction header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    align-items: center;
  }
  .single-instruction header p {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-500);
    margin-bottom: 0;
  }
  .single-instruction > p {
    color: #334155;
  }
  
  .single-instruction header div {
    height: 2px;
    background: var(--grey-300);
  }
  
  .second-column {
    display: grid;
    row-gap: 2rem;
  }
  
  .single-ingredient {
    border-bottom: 2px solid var(--grey-300);
    padding-bottom: 0.75rem;
    color: #334155;
  }
  .single-tool {
    border-bottom: 2px solid var(--grey-300);
    padding-bottom: 0.75rem;
    color: var(--primary-500);
    text-transform: capitalize;
  }
  @media only screen and (min-width: 768px) {
    .hero-text h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }
    .hero {
      top: 0;
      height: 40vh;
      position: relative;
      margin-bottom: 2rem;
      background: url('../../../assets/main/main.jpeg') center/cover no-repeat;
      border-radius: var(--borderRadius);
  }
}