@media only screen and (min-width: 375px) and (max-width: 667px) {
  .select-person {
    width: 100%;
  }
  .Phone {
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .Tablet {
    font-size: 10.5px;
  }
}
